<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ZIPPO'S HEALTHCARE SERVICES</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<!-- master stylesheet -->
	<link rel="stylesheet" href="../static/css/style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="../static/css/responsive.css">
    <!--Color Switcher Mockup-->
    <link rel="stylesheet" href="../static/css/color-switcher-design.css">
    <!--Color Themes-->
    <link rel="stylesheet" href="../static/css/color-themes/default-theme.css" id="theme-color-file">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="../static/image/png" href="../static/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="../static/image/png" href="../static/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
    

    
</head>
<body>
<div class="boxed_wrapper">

<div class="preloader"></div>

<!-- Top bar area -->  
<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="top-bar clearfix">
                    <!--Start top left content-->
                    <div class="top-left-content clearfix float-left">
                        <p><a href="mailto:admin@zipposhs.com">admin@zipposhs.com</a></p>
                    </div>
                    <!--End top left content-->
                    <!--Start top right content-->
                    <div class="top-right-content clearfix float-right d-flex justify-content-end">
                        <div class="top-social-box d-flex justify-content-end">
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/people/Zippos-Healthcare-Services/61573666213336/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/zipposhealthcareservices/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.tiktok.com/@zipposhealthcareservices"><i class="fab fa-tiktok" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                        <!-- <div class="language-switcher float-right">
                            <div id="polyglotLanguageSwitcher">
                                <form action="#">
                                    <select id="polyglot-language-options">
                                        <option id="en" value="en" selected>English</option>
                                        <option id="fr" value="fr">French</option>
                                        <option id="de" value="de">German</option>
                                        <option id="it" value="it">Italian</option>
                                        <option id="es" value="es">Spanish</option>
                                    </select>
                                </form>
                            </div>
                        </div> -->
                    </div>
                    <!--End top right content-->  
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End Top bar area --> 
 
<!--Start header area-->
<header class="header-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="inner-content clearfix">
                    <div class="header-left float-left">
                        <div class="logo">
                            <a href="/">
                                <img src="../static/images/resources/logo.png" alt="Awesome Logo">
                            </a>
                        </div>
                    </div>
                    <div class="header-middle clearfix float-left">
                        <!--Start mainmenu-->
                        <nav class="main-menu clearfix float-left">
                            <div class="navbar-header clearfix">   	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="current"><a href="/">Home</a></li>
                                    <li class="dropdown"><a href="/about">About Us</a></li>
                                    <li class="dropdown"><a href="/services">Services</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!--End mainmenu-->    
                    </div>
                    <div class="header-right float-right">
                        <div class="outer-search-box">
                            <div class="seach-toggle"><i class="fa fa-search"></i></div>
                            <ul class="search-box">
                                <li>
                                    <form method="post" action="/">
                                        <div class="form-group">
                                            <input type="search" name="search" placeholder="Search Here" required>
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-us">
                            <span>Need Help? Talk to an Expert</span>
                            <a href="tel:+18327927313">+1 (832) 792-7313</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>  
<!--End header area-->    
    
<!--Start rev slider wrapper-->     
<div class="hero">
    <div class="background"></div>
    <div class="container">
        <div class="text-content intro-title">
            <h1>We put our heart into every step—because every step can make a difference</h1>
            <p>We are driven by a deep sense of purpose and inspired by the impact each action can create, no matter how small.</p>
            <div>
                <a href="tel:+18327927313" class="as_btn">CALL US</a>
            </div>
        </div>
        <div class="form-container intro-form">
            <form id="introServiceForm" class="form">
                <label class="re-label">Full name *</label>
                <input class="re-input" type="text" name="name" id="name" placeholder="Your full name" required>
    
                <label class="re-label">Phone number *</label>
                <input class="re-input" type="tel" name="phone" id="phone" placeholder="Your phone number" required>
    
                <label class="re-label">Email *</label>
                <input class="re-input" type="email" name="email" id="email" placeholder="Your email" required>
    
                <label class="re-label">Services</label>
                <select name="service" id="service" class="re-input">
                    <option>Laboratory Services</option>
                    <option>Human Resources</option>
                    <option>Wellness</option>
                </select>
    
                <button type="submit">SEND</button>
            </form>
            <p style="margin-top: 15px;" id="responseMsg"></p>
        </div>
    </div>
</div>
<!--End rev slider wrapper--> 
<!--Start call To action area-->
<section class="call-toaction-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <ul>
                    <li>
                        <div class="left-content float-left">
                            <div class="icon-holder">
                                <span class="icon-computer-1 thm-clr"></span>    
                            </div>
                            <div class="title-holder">
                                <h3>Laboratory Services</h3>
                                <span class="thm-clr">Read More</span>
                            </div>
                        </div>
                        <div class="right-content float-right">
                            <div class="read-more-button">
                                <div class="inner">
                                    <a href="/ser-laboratory"><span class="icon-arrows"></span></a>
                                </div>
                            </div>
                        </div>
                    </li> 
                    <li>
                        <div class="left-content float-left">
                            <div class="icon-holder">
                                <span class="icon-computer thm-clr"></span>    
                            </div>
                            <div class="title-holder">
                                <h3>Human Resources</h3>
                                <span class="thm-clr">Read More</span>
                            </div>
                        </div>
                        <div class="right-content float-right">
                            <div class="read-more-button">
                                <div class="inner">
                                    <a href="/ser-human"><span class="icon-arrows"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="left-content float-left">
                            <div class="icon-holder">
                                <span class="icon-transport thm-clr"></span>    
                            </div>
                            <div class="title-holder">
                                <h3>Wellness</h3>
                                <span class="thm-clr">Read More</span>
                            </div>
                        </div>
                        <div class="right-content float-right">
                            <div class="read-more-button">
                                <div class="inner">
                                    <a href="/ser-wellness"><span class="icon-arrows"></span></a>
                                </div>
                            </div>
                        </div>
                    </li>   
                </ul>
            </div>
        </div> 
    </div>    
</section>
<!--End call To action area-->

<!--Start services area-->
<section class="services-area">
    <div class="pattern-bottom">
        <img src="../static/images/services/service-bottom-pattern.jpg" alt="Pattern">
    </div>
    <div class="container">
        <div class="sec-title text-center">
            <div class="title">Our Services</div>
            <div class="dector thm-bg-clr center"></div>
        </div>
        <div class="row">
            <!--Start single service item-->
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                <div class="single-service-item">
                    <div class="inner-content">
                        <div class="img-holder">
                            <img src="../static/images/services/Laboratory_Services.jpg" alt="Awesome Image">
                        </div>
                        <div class="title-holder">
                            <div class="icon"><span class="icon-man thm-clr"></span></div>
                            <h3>Laboratory Services</h3>
                        </div>
                    </div>
                    <div class="overlay-content-top">
                        <div class="title-holder">
                            <div class="icon"><span class="icon-man thm-clr"></span></div>
                            <h3>Laboratory Services</h3>
                        </div>
                        <div class="text-holder">
                            <p>Laboratory Services offer a range of medical testing to support clinical evaluations, diagnostics, and monitoring.</p>
                        </div>  
                    </div>
                    <div class="overlay-content-bottom">
                        <div class="read-more-button">
                            <a href="/ser-laboratory">Read More<span class="icon-arrows"></span></a>    
                        </div>      
                    </div>
                </div>
            </div>
            <!--End single service item-->
            <!--Start single service item-->
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                <div class="single-service-item">
                    <div class="inner-content">
                        <div class="img-holder">
                            <img src="../static/images/services/Human_Resources.jpg" alt="Awesome Image">
                        </div>
                        <div class="title-holder">
                            <div class="icon"><span class="icon-technology thm-clr"></span></div>
                            <h3>Human Resources</h3>
                        </div>
                    </div>
                    <div class="overlay-content-top">
                        <div class="title-holder">
                            <div class="icon"><span class="icon-technology thm-clr"></span></div>
                            <h3>Human Resources</h3>
                        </div>
                        <div class="text-holder">
                            <p>Human Resources services in the medical field focus on healthcare staffing, credentialing, compliance, and workforce support to ensure efficient and qualified clinical operations.</p>
                        </div>  
                    </div>
                    <div class="overlay-content-bottom">
                        <div class="read-more-button">
                            <a href="/ser-human">Read More<span class="icon-arrows"></span></a>    
                        </div>      
                    </div>
                </div>
            </div>
            <!--End single service item-->
            <!--Start single service item-->
            <div class="col-xl-4 col-lg-6 col-md-12 col-sm-12">
                <div class="single-service-item">
                    <div class="inner-content">
                        <div class="img-holder">
                            <img src="../static/images/services/Wellness.jpg" alt="Awesome Image">
                        </div>
                        <div class="title-holder">
                            <div class="icon"><span class="icon-luxury thm-clr"></span></div>
                            <h3>Wellness</h3>
                        </div>
                    </div>
                    <div class="overlay-content-top">
                        <div class="title-holder">
                            <div class="icon"><span class="icon-luxury thm-clr"></span></div>
                            <h3>Wellness</h3>
                        </div>
                        <div class="text-holder">
                            <p>Wellness services support overall health through a variety of programs aimed at improving well-being and quality of life.</p>
                        </div>  
                    </div>
                    <div class="overlay-content-bottom">
                        <div class="read-more-button">
                            <a href="/ser-wellness">Read More<span class="icon-arrows"></span></a>    
                        </div>      
                    </div>
                </div>
            </div>
            <!--End single service item-->
            <!--End single service item-->
        </div>
    </div>
</section>
<!--End services area-->

<!--Start latest project area-->
<!-- LATEST PROJECT DISABLED BY UI -->
<!--End latest project area-->

<!--Start about area-->
<section class="about-area" style="background-image: url(../static/images/slides/3.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-6 col-lg-10 col-md-12 col-sm-12">
                <div class="about-text">
                    <div class="sec-title">
                        <div class="title">About Our Company</div>
                        <div class="dector thm-bg-clr"></div>
                    </div>
                    <div class="inner-content">
                        <p>
                            At Zippo's Healthcare Services, we are redefining comprehensive healthcare by delivering integrated solutions across laboratory services, human resources, patient care, and wellness. Our mission is simple: to support healthier communities by empowering healthcare providers, enhancing operational efficiency, and improving the patient experience from every angle.<br>
                            With a deep commitment to clinical excellence and compassionate care, we offer state-of-the-art laboratory diagnostics, customized workforce solutions, and end-to-end patient care services. We also champion proactive wellness programs that promote long-term health and preventive care for individuals and organizations alike.<br>
                            Our multidisciplinary approach ensures that our clients—ranging from healthcare institutions to corporate partners—receive scalable, people-first solutions tailored to their evolving needs. Backed by a team of skilled professionals and driven by innovation, we are proud to be a trusted partner in delivering smarter, more connected healthcare.<br>
                        </p>
                    </div>    
                </div>
            </div>    
            <div class="col-xl-6 col-lg-12 col-md-12 col-sm-12">
                <div class="about-right-box">
                    <ul>
                        <li>
                            <div class="left-content float-left">
                                <div class="icon"><span class="icon-graphic thm-clr"></span></div>
                                <div class="title">
                                    <h3>Projects</h3>
                                    <span>By Our Experienced Team</span>
                                </div>    
                            </div>
                            <div class="right-content float-right">
                                <div class="title">
                                    <h1>326</h1>
                                </div>    
                            </div>
                        </li>
                        <li>
                            <div class="left-content float-left">
                                <div class="icon"><span class="icon-web thm-clr"></span></div>
                                <div class="title">
                                    <h3>Professionals</h3>
                                    <span>Smart and Hard Workers</span>
                                </div>    
                            </div>
                            <div class="right-content float-right">
                                <div class="title">
                                    <h1>89</h1>
                                </div>    
                            </div>
                        </li>
                        <li>
                            <div class="left-content float-left">
                                <div class="icon"><span class="icon-symbols thm-clr"></span></div>
                                <div class="title">
                                    <h3>Years Of Experience</h3>
                                    <span>We Provides All Industry Services</span>
                                </div>    
                            </div>
                            <div class="right-content float-right">
                                <div class="title">
                                    <h1>15+</h1>
                                </div>    
                            </div>
                        </li>
                        <li>
                            <div class="left-content float-left">
                                <div class="icon"><span class="icon-people thm-clr"></span></div>
                                <div class="title">
                                    <h3>Satisfied Customers</h3>
                                    <span>Most Trusted Company By Experts</span>
                                </div>    
                            </div>
                            <div class="right-content float-right">
                                <div class="title">
                                    <h1>574</h1>
                                </div>    
                            </div>
                        </li>
                        
                        
                    </ul>
                </div>
            </div>    
        </div>
    </div>
</section>
<!--End about area-->

<!--Start choosing area-->
<section class="choosing-area">
    <div class="container">
        <div class="sec-title text-center">
            <div class="title">Why Choose Us</div>
            <div class="dector thm-bg-clr center"></div>
        </div>
        <div class="row">
            <!--Start single choosing item-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-choosing-item">
                    <div class="top">
                        <div class="title-holder float-left">
                            <h3>Passion in Every Step</h3>
                        </div>
                        <div class="icon-holder float-right">
                            <span class="icon-business2"></span>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p>We don’t just go through the motions—we bring genuine passion, care, and thoughtfulness into everything we do. From the very first conversation to the final detail, we’re fully invested in your vision. Our team approaches every project with energy and heart, treating your goals as if they were our own. This passion fuels our creativity, drives our dedication, and ensures that every step we take is intentional, impactful, and aligned with what truly matters to you.</p>
                        <a class="readmore" href="/about">Read More</a>    
                    </div>
                </div>
            </div>
            <!--End single choosing item-->
            <!--Start single choosing item-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-choosing-item">
                    <div class="top">
                        <div class="title-holder float-left">
                            <h3>Dedicated Team</h3>
                        </div>
                        <div class="icon-holder float-right">
                            <span class="icon-people-1"></span>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p>We’re more than a team—we’re a tight-knit group brought together by a shared drive to do great work. Everyone brings their own strengths, insights, and a strong sense of purpose to the table. We communicate openly, support one another, and stay fully aligned from start to finish. But above all, we care deeply about your success. We approach each project with heart, dedication, and a commitment to going above and beyond. With us, you’re not just getting a service—you’re gaining a partner who’s truly invested.</p>
                        <a class="readmore" href="/about">Read More</a>    
                    </div>
                </div>
            </div>
            <!--End single choosing item-->
            <!--Start single choosing item-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-choosing-item">
                    <div class="top">
                        <div class="title-holder float-left">
                            <h3>Proven Quality</h3>
                        </div>
                        <div class="icon-holder float-right">
                            <span class="icon-cogwheel"></span>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p> We don’t believe in flashy promises—real quality speaks for itself. It’s in the details, the finish, and how everything holds up over time. We take pride in crafting every piece with care, precision, and intention. From materials and design to communication and follow-through, we hold ourselves to the highest standards. Cutting corners isn’t our style—we aim to exceed expectations at every turn. This commitment to excellence is what earns trust, builds loyalty, and sets us apart. With us, quality isn’t a tagline—it’s the way we work.</p>
                        <a class="readmore" href="/about">Read More</a>    
                    </div>
                </div>
            </div>
            <!--End single choosing item-->
            <!--Start single choosing item-->
            <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
                <div class="single-choosing-item">
                    <div class="top">
                        <div class="title-holder float-left">
                            <h3>Trust & Transparency</h3>
                        </div>
                        <div class="icon-holder float-right">
                            <span class="icon-technology2"></span>
                        </div>
                    </div>
                    <div class="text-holder">
                        <p> Trust isn’t just something we talk about—it’s the starting point for everything we do. From day one, we’re upfront about our process, pricing, and expectations. We believe in clear communication, mutual respect, and always following through on our word. No hidden fees, no surprises—just a team that’s fully transparent and here for you. You’re never left guessing; you’re informed, involved, and supported every step of the way. Because when trust comes first, everything else falls into place.</p>
                        <a class="readmore" href="/about">Read More</a>    
                    </div>
                </div>
            </div>
            <!--End single choosing item-->
           
        </div>
    </div>    
</section>
<!--End choosing area-->

<!--Start testimonial area-->

<!-- DISABLED testimonial area by UI -->

<!--End testimonial area-->

<!--Start latest blog area-->
<!-- DISABLED LATEST BLOG BY UI -->
<!--End latest blog area--> 
 
<!--Start subscribe form area-->  
<!-- <section class="subscribe-form-area thm-bg-clr">
    <div class="container">
        <div class="row">
            <div class="col-xl-5">
                <div class="left-text">
                    <div class="icon"><span class="icon-business-1"></span></div>
                    <div class="text"><p>Keep up to date, Get latest updates, news and special offers in your inbox...</p></div>
                </div>    
            </div>
            <div class="col-xl-7 col-lg-12">
                <div class="subscribe-form">
                    <form action="#">
                        <input type="text" name="email" placeholder="Your e-mail address">
                        <button type="submit">Subscribe</button>
                    </form>
                </div>    
            </div>
        </div>
    </div>
</section>    -->
<!--End subscribe form area-->
 
<!--Start footer top area--> 
<section class="footer-top-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-box address-box">
                    <div class="icon"><span class="icon-signs"></span></div>
                    <div class="title">
                        <h3>Address</h3>
                        <p>1200 Binz Street, Suite 1020, Houston, TX 77004</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-box phone-box">
                    <div class="icon"><span class="icon-technology-1"></span></div>
                    <div class="title">
                        <h3>Phone</h3>
                        <p>Office: +1 (713) 621 - 2556</p>
                    </div>
                </div>
            </div>
            
            <div class="col-xl-4 col-lg-4 col-md-12 col-sm-12">
                <div class="single-box email-box">
                    <div class="icon"><span class="icon-multimedia"></span></div>
                    <div class="title">
                        <h3>Email</h3>
                        <p>admin@zipposhs.com</p>
                    </div>
                </div>
            </div>
            
        </div>
    </div>    
</section>          
<!--End footer top area-->           
  
<!--Start footer area-->  
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-xl-4 col-lg-10 col-md-12 col-sm-12">
                <div class="single-footer-widget">
                    <div class="our-info">
                        <div class="footer-logo">
                            <a href="/">
                                <img src="../static/images/resources/foot-logo.png" draggable="false" alt="Awesome Logo">
                            </a>
                        </div>
                        <div class="text">
                            <p>“The information provided on this website is for general informational purposes only and does not constitute medical advice, diagnosis, or treatment. Always seek the guidance of your physician or another qualified healthcare provider with any questions you may have regarding a medical condition.”</p>
                            <div class="about-company">
                                <a href="/about">More About Company <span class="icon-arrows"></span></a>
                            </div>
                            <div class="bottom">
                                <span>Visit Our Office</span> 
                                <p>1200 Binz Street, Suite 1020, Houston, TX 77004</p>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="ui-footer-middle-col col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget pdtop-50">
                    <div class="title">
                        <h3>Usefull Links</h3>
                        <div class="decor thm-bg-clr"></div>
                    </div>
                    <ul class="usefull-links left">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget pdtop-50">
                    <div class="title">
                        <h3>Opening Hours</h3>
                        <div class="decor thm-bg-clr"></div>
                    </div>
                    <ul class="recent-post">
                        <li>
                            <span class="thm-clr">Monday: 9:00 am – 5:00 pm</span>
                        </li>
                        <li>
                            <span class="thm-clr">Tuesday: 9:00 am – 5:00 pm</span>
                        </li>      
                        <li>
                            <span class="thm-clr">Wednesday: 9:00 am – 5:00 pm</span>
                        </li>
                        <li>
                            <span class="thm-clr">Thursday: 9:00 am – 5:00 pm</span>
                        </li>  
                        <li>
                            <span class="thm-clr">Friday: 9:00 am – 5:00 pm</span>
                        </li>
                        <li>
                            <span class="thm-clr">Saturday: Closed</span>
                        </li>  
                        <li>
                            <span class="thm-clr">Sunday: Closed</span>
                        </li> 
                    </ul>    
                </div>
            </div>
            <!--End single footer widget-->
            
        </div>
    </div>
</footer>   
<!--End footer area--> 

<!--Start footer bottom area--> 
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bottom">
                    <div class="copyright-text pull-left">
                        <p>Copyright © 2025 Zippo's Healthcare Services. All Rights Reserved.</p>
                    </div>
                    <div class="footer-social-links pull-right">
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com/people/Zippos-Healthcare-Services/61573666213336/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/zipposhealthcareservices/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.tiktok.com/@zipposhealthcareservices"><i class="fab fa-tiktok" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </div>
    </div>    
</section> 
<!--End footer bottom area-->
</div>  

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target thm-bg-clr" data-target="html"><span class="fa fa-angle-up"></span></div>
<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate navy-color" data-theme-file="css/color-themes/navy-theme.css"></span>
            <span class="palate yellow-color" data-theme-file="css/color-themes/yellow-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
        </div>
    </div>

    <div class="palate-foo">
        <span>You can easily change and switch the colors.</span>
    </div>

</div>
<!-- /.End Of Color Palate -->

<!-- main jQuery -->
<script src="../static/js/jquery.js"></script>
<!-- Wow Script -->
<script src="../static/js/wow.min.js"></script>
<!-- bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="../static/js/jquery.bxslider.min.js"></script>
<!-- count to -->
<script src="../static/js/jquery.countTo.js"></script>
<script src="../static/js/jquery.appear.js"></script>
<!-- owl carousel -->
<script src="../static/js/owl.js"></script>
<!-- validate -->
<script src="../static/js/validation.js"></script>
<!-- mixit up -->
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- isotope script-->
<script src="../static/js/isotope.js"></script>
<!-- Easing -->
<script src="../static/js/jquery.easing.min.js"></script>
<!-- Gmap helper -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<!--Gmap script-->
<script src="../static/js/gmaps.js"></script>
<script src="../static/js/map-helper.js"></script>
<!-- video responsive script -->
<script src="../static/js/jquery.fitvids.js"></script>
<!-- jQuery ui js -->
<script src="../static/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- Language Switche  -->
<script src="../static/assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
<!-- jQuery PrettyPhoto js -->
<script src="../static/js/jquery.prettyPhoto.js"></script> 
<!-- jQuery timepicker js -->
<script src="../static/assets/timepicker/timePicker.js"></script>
<!-- Bootstrap select picker js -->
<script src="../static/assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script> 
<!-- html5lightbox js -->                              
<script src="../static/assets/html5lightbox/html5lightbox.js"></script>
<!--Color Switcher-->
<script src="../static/js/color-settings.js"></script>
<!--Particles -->
<script src="../static/js/particles.min.js"></script>

<!--revolution slider js -->
<script src="../static/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="../static/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

<!-- thm custom script -->
<script src="../static/js/particles-config.js"></script>
<script src="../static/js/custom.js"></script>
<script src="../static/js/intro_mail.js"></script>


</body>
</html>