<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>ZIPPO'S HEALTHCARE SERVICES</title>

	<!-- responsive meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- For IE -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
	<!-- master stylesheet -->
	<link rel="stylesheet" href="../static/css/style.css">
	<!-- Responsive stylesheet -->
	<link rel="stylesheet" href="../static/css/responsive.css">
    <!--Color Switcher Mockup-->
    <link rel="stylesheet" href="../static/css/color-switcher-design.css">
    <!--Color Themes-->
    <link rel="stylesheet" href="../static/css/color-themes/default-theme.css" id="theme-color-file">
    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="../static/images/favicon/apple-touch-icon.png">
    <link rel="icon" type="../static/image/png" href="../static/images/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="../static/image/png" href="../static/images/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">

    <!-- Fixing Internet Explorer-->
    <!--[if lt IE 9]>
        <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
        <script src="js/html5shiv.js"></script>
    <![endif]-->
    

    
</head>
<body>
<div class="boxed_wrapper">

<div class="preloader"></div> 

<!-- Top bar area -->  
<section class="top-bar-area">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="top-bar clearfix">
                    <!--Start top left content-->
                    <div class="top-left-content clearfix float-left">
                        <p><a href="mailto:admin@zipposhs.com">admin@zipposhs.com</a></p>
                    </div>
                    <!--End top left content-->
                    <!--Start top right content-->
                    <div class="top-right-content clearfix float-right d-flex justify-content-end">
                        <div class="top-social-box d-flex justify-content-end">
                            <ul class="social-links">
                                <li><a href="https://www.facebook.com/people/Zippos-Healthcare-Services/61573666213336/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.instagram.com/zipposhealthcareservices/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="https://www.tiktok.com/@zipposhealthcareservices"><i class="fab fa-tiktok" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <!--End top right content-->  
                </div>    
            </div>
        </div>
    </div>
</section>
<!--End Top bar area --> 
 
<!--Start header area-->
<header class="header-area stricky">
    <div class="container">
        <div class="row">
            <div class="col-xl-12 col-lg-12 col-md-12">
                <div class="inner-content clearfix">
                    <div class="header-left float-left">
                        <div class="logo">
                            <a href="/">
                                <img src="../static/images/resources/logo.png" alt="Awesome Logo">
                            </a>
                        </div>
                    </div>
                    <div class="header-middle clearfix float-left">
                        <!--Start mainmenu-->
                        <nav class="main-menu clearfix float-left">
                            <div class="navbar-header clearfix">   	
                                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                            </div>
                            <div class="navbar-collapse collapse clearfix">
                                <ul class="navigation clearfix">
                                    <li class="dropdown"><a href="/">Home</a></li>
                                    <li class="dropdown"><a href="/about">About Us</a></li>
                                    <li class="current"><a href="/services">Services</a></li>
                                    <li><a href="/contact">Contact</a></li>
                                </ul>
                            </div>
                        </nav>
                        <!--End mainmenu-->    
                    </div>
                    <div class="header-right float-right">
                        <div class="outer-search-box">
                            <div class="seach-toggle"><i class="fa fa-search"></i></div>
                            <ul class="search-box">
                                <li>
                                    <form method="post" action="/">
                                        <div class="form-group">
                                            <input type="search" name="search" placeholder="Search Here" required>
                                            <button type="submit"><i class="fa fa-search"></i></button>
                                        </div>
                                    </form>
                                </li>
                            </ul>
                        </div>
                        <div class="contact-us">
                            <span>Need Help? Talk to an Expert</span>
                            <a href="tel:+18327927313">+1 (832) 792-7313</a>
                        </div>    
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<!--End header area-->    

<!--Start breadcrumb area-->     
<section class="breadcrumb-area" style="background-image: url(../static/images/resources/breadcrumb-bg.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-xl-12">
                <div class="title float-left">
	               <h1>Human Resources</h1>
	            </div>
                <div class="breadcrumb-menu float-right">
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li><a href="/services">Services</a></li>
                        <li><i class="fa fa-angle-right" aria-hidden="true"></i></li>
                        <li class="active">Human Resources</li>
                    </ul>    
                </div>
            </div>
        </div>
	</div>
</section>
<!--End breadcrumb area--> 

<!--Start Single service area-->
<section id="single-service-area">
    <div class="pattern-box"></div>
    <div class="container">
        <div class="row">
            <div class="col-xl-9 col-lg-8 col-md-12 col-sm-12">
                <div class="content-box">
                    <!--Start single ser top content-->
                    <div class="single-ser-top-content">
                        <div class="sec-title">
                            <h2>Human Resources Services Overview</h2>
                        </div>
                        <div class="inner-content">
                            <div class="img-holder">
                                <img src="../static/images/services/service-single/hum-in-single.jpg" alt="Awesome Image">
                            </div>
                            <div class="text-holder">
                                <p>Human Resources services play a vital role in supporting the operations, staffing, and compliance needs of healthcare organizations and related sectors. From recruitment and onboarding to credentialing and workforce management, HR services help ensure that teams remain qualified, organized, and aligned with regulatory standards.</p>
                                <a class="btn-one thm-bg-clr" href="tel:+18327927313">CALL US</a>
                            </div>
                        </div>
                    </div>
                    <!--End single ser top content-->
                    <!--Start planning strategies content -->
                    <div class="planning-strategies-content">
                        <div class="sec-title">
                            <h2>Key Areas of Services</h2>
                        </div>
                        <div class="inner-content">
                            <div class="text">
                                <p>These services contribute to workforce stability, improved organizational performance, and the delivery of safe, efficient care. Each area of service is designed to address specific aspects of employee lifecycle management and operational support.</p>
                            </div>
                            <div class="single-verticle-carousel">
                                <!--Start single box-->
                                <ul class="single-box">
                                    <div class="single">
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-business-2 thm-clr"></span>
                                            </div>
                                            <div class="text-box">
                                                <h3>Talent Acquisition & Staffing</h3>
                                                <p>Support for identifying, sourcing, and onboarding qualified professionals across various roles. This includes temporary, permanent, and contract-based staffing solutions.</p>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="single">
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-technology-2 thm-clr"></span>
                                            </div>
                                            <div class="text-box">
                                                <h3>Credentialing & Compliance</h3>
                                                <p>Verification and documentation of licenses, certifications, background checks, and other regulatory requirements to ensure workforce readiness and alignment with industry standards.</p>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="single">
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-book thm-clr"></span>
                                            </div>
                                            <div class="text-box">
                                                <h3>Workforce Administration</h3>
                                                <p>Ongoing support for HR functions such as payroll coordination, timekeeping, benefits tracking, leave management, and employee record maintenance.</p>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="single">
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-business-2 thm-clr"></span>
                                            </div>
                                            <div class="text-box">
                                                <h3>Performance & Development</h3>
                                                <p>Tools and frameworks for monitoring employee performance, supporting professional development, and aligning goals with organizational objectives.</p>
                                            </div>
                                        </li>
                                    </div>
                                    <div class="single last">
                                        <li>
                                            <div class="icon-box">
                                                <span class="icon-book thm-clr"></span>
                                            </div>
                                            <div class="text-box">
                                                <h3>Policy & Procedure Support</h3>
                                                <p>Development and implementation of workplace policies, codes of conduct, and HR protocols that support legal compliance and consistent practices.</p>
                                            </div>
                                        </li>
                                    </div>
                                </ul>
                                <!--End single box-->
	                        </div>                 
                        </div>
                    </div>
                    <!--End planning strategies content -->
                    <!--Start profit improvement box-->
                    <div class="profit-improvement-box">
                        <div class="sec-title">
                            <h2>Why Human Resources Services Are Important</h2>
                        </div>
                        <div class="row">
                            <div class="col-xl-6 col-lg-10">
                                <div class="chart-box">
                                    <img src="../static/images/services/service-single/hum-single.jpg" alt="Chart">
                                </div>      
                            </div>
                            <div class="col-xl-6 col-lg-12">
                                <div class="text-holder">
                                    <div class="text">
                                        <p>
                                            Effective HR services contribute to operational efficiency, workforce retention, and compliance. By ensuring that roles are properly filled, credentials are verified, and policies are maintained, organizations are better positioned to deliver consistent and high-quality services. These functions also play a role in supporting a positive work environment and minimizing risks associated with human capital management.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>    
                    </div>
                    <!--End profit improvement box-->
                    <!--Start approach content box-->
                    <div class="approach-content-box">
                        <div class="sec-title">
                            <h2>Values & Commitments</h2>
                        </div>
                        <div class="row">
                            <div class="col-xl-12">
                                <div class="text">
                                    <p>Human Resources services are delivered with a focus on consistency, compliance, and operational integrity. These principles guide reliable workforce support across all areas of service.</p>
                                </div>
                                <div class="accordion-holder style-one">
                                    <!-- Accordion -->
                                    <article class="accordion">
                                        <div class="acc-btn active">
                                            <div class="toggle-icon"><span class="icon-layers"></span></div> 
                                            <h3>Consistency and Compliance</h3>
                                        </div>
                                        <div class="acc-content collapsed">
                                            <div class="inner">
                                                <p>HR services are aligned with current labor regulations and organizational standards to ensure accuracy and accountability.</p>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Accordion -->
                                    <article class="accordion">
                                        <div class="acc-btn">
                                            <div class="toggle-icon"><span class="icon-tool"></span></div> 
                                            <h3>Scalable Solutions</h3>
                                        </div>
                                        <div class="acc-content">
                                            <div class="inner">
                                                <p>Support is adaptable to the size and structure of each organization, with flexible models to meet changing workforce needs.</p>
                                            </div>
                                        </div>
                                    </article>
                                    <!-- Accordion -->
                                    <article class="accordion">
                                        <div class="acc-btn">
                                            <div class="toggle-icon"><span class="icon-settings"></span></div> 
                                            <h3>Collaboration and Support</h3>
                                        </div>
                                        <div class="acc-content">
                                            <div class="inner">
                                                <p>HR services are designed to complement internal teams and contribute to the smooth functioning of daily operations.</p>
                                            </div>
                                        </div>
                                    </article>
                                </div>
                            </div>
                        </div>
                    </div> 
                    <!--End approach content box--> 
                </div>
            </div>
            
            <div class="col-xl-3 col-lg-4 col-md-9 col-sm-12">
                <div class="sidebar-box">
                    <!--Start single sidebar-->
                    <div class="single-sidebar">
                        <div class="title">
                            <h3>Our Services</h3>
                        </div>
                        <div class="service-list-box">        
                            <ul class="page-links">
                                <li><a class="active" href="/ser-human">Human Resources</a></li>
                                <li><a href="/ser-wellness">Wellness</a></li>  
                                <li><a href="/ser-laboratory">Laboratory Services</a></li>             
                            </ul>
                        </div>
                    </div>
                    <!--End single sidebar-->
                    <!--Start single sidebar-->
                    <!-- <div class="single-sidebar">
                        <div class="title">
                            <h3>Our Brochures</h3>
                        </div>
                        <div class="service-brochures">
                            <ul class="brochures-dwn-link clearfix">
                                <li>
                                    <a href="#">
                                        <div class="icon-holder">
                                            <i class="fa fa-file-pdf-o" aria-hidden="true"></i>  
                                        </div>
                                        <div class="title-holder">
                                            <h5>Download.pdf</h5>    
                                            <span>Service Overview</span>
                                        </div>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <div class="icon-holder">
                                            <i class="fa fa-file-word-o" aria-hidden="true"></i>
                                        </div>
                                        <div class="title-holder">
                                            <h5>Download.doc</h5>    
                                            <span>About Our Company</span>
                                        </div>
                                    </a>
                                </li>
                            </ul>
                        </div> 
                    </div> -->
                    <!--End single sidebar-->
                </div>
            </div> 
            
        </div>
    </div>
</section>
<!--End Single service area-->

<!--Start footer area-->  
<footer class="footer-area">
    <div class="container">
        <div class="row">
            <!--Start single footer widget-->
            <div class="col-xl-4 col-lg-10 col-md-12 col-sm-12">
                <div class="single-footer-widget">
                    <div class="our-info">
                        <div class="footer-logo">
                            <a href="/">
                                <img src="../static/images/resources/foot-logo.png" draggable="false" alt="Awesome Logo">
                            </a>
                        </div>
                        <div class="text">
                            <p>“The information provided on this website is for general informational purposes only and does not constitute medical advice, diagnosis, or treatment. Always seek the guidance of your physician or another qualified healthcare provider with any questions you may have regarding a medical condition.”</p>
                            <div class="about-company">
                                <a href="/about">More About Company <span class="icon-arrows"></span></a>
                            </div>
                            <div class="bottom">
                                <span>Visit Our Office</span> 
                                <p>1200 Binz Street, Suite 1020, Houston, TX 77004</p>  
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="ui-footer-middle-col col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget pdtop-50">
                    <div class="title">
                        <h3>Usefull Links</h3>
                        <div class="decor thm-bg-clr"></div>
                    </div>
                    <ul class="usefull-links left">
                        <li><a href="/">Home</a></li>
                        <li><a href="/about">About Us</a></li>
                        <li><a href="/services">Services</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
            <!--End single footer widget-->
            <!--Start single footer widget-->
            <div class="col-xl-4 col-lg-6 col-md-6 col-sm-12">
                <div class="single-footer-widget pdtop-50">
                    <div class="title">
                        <h3>Opening Hours</h3>
                        <div class="decor thm-bg-clr"></div>
                    </div>
                    <ul class="recent-post">
                        <li>
                            <span class="thm-clr">Monday: 9:00 am – 5:00 pm</span>
                        </li>
                        <li>
                            <span class="thm-clr">Tuesday: 9:00 am – 5:00 pm</span>
                        </li>      
                        <li>
                            <span class="thm-clr">Wednesday: 9:00 am – 5:00 pm</span>
                        </li>
                        <li>
                            <span class="thm-clr">Thursday: 9:00 am – 5:00 pm</span>
                        </li>  
                        <li>
                            <span class="thm-clr">Friday: 9:00 am – 5:00 pm</span>
                        </li>
                        <li>
                            <span class="thm-clr">Saturday: Closed</span>
                        </li>  
                        <li>
                            <span class="thm-clr">Sunday: Closed</span>
                        </li> 
                    </ul>    
                </div>
            </div>
            <!--End single footer widget-->
            
        </div>
    </div>
</footer>     
<!--End footer area--> 

<!--Start footer bottom area--> 
<section class="footer-bottom-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="footer-bottom">
                    <div class="copyright-text pull-left">
                        <p>Copyright © 2025 Zippo's Healthcare Services. All Rights Reserved.</p>
                    </div>
                    <div class="footer-social-links pull-right">
                        <ul class="social-links">
                            <li><a href="https://www.facebook.com/people/Zippos-Healthcare-Services/61573666213336/"><i class="fab fa-facebook" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.instagram.com/zipposhealthcareservices/"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                            <li><a href="https://www.tiktok.com/@zipposhealthcareservices"><i class="fab fa-tiktok" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>    
            </div>
        </div>
    </div>    
</section> 
<!--End footer bottom area-->
</div>  

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target thm-bg-clr" data-target="html"><span class="fa fa-angle-up"></span></div>
<!-- Color Palate / Color Switcher -->
<div class="color-palate">
    <div class="color-trigger">
        <i class="fa fa-gear"></i>
    </div>
    <div class="color-palate-head">
        <h6>Choose Your Color</h6>
    </div>
    <div class="various-color clearfix">
        <div class="colors-list">
            <span class="palate default-color active" data-theme-file="css/color-themes/default-theme.css"></span>
            <span class="palate teal-color" data-theme-file="css/color-themes/teal-theme.css"></span>
            <span class="palate navy-color" data-theme-file="css/color-themes/navy-theme.css"></span>
            <span class="palate yellow-color" data-theme-file="css/color-themes/yellow-theme.css"></span>
            <span class="palate blue-color" data-theme-file="css/color-themes/blue-theme.css"></span>
            <span class="palate purple-color" data-theme-file="css/color-themes/purple-theme.css"></span>
            <span class="palate olive-color" data-theme-file="css/color-themes/olive-theme.css"></span>
            <span class="palate red-color" data-theme-file="css/color-themes/red-theme.css"></span>
        </div>
    </div>

    <div class="palate-foo">
        <span>You can easily change and switch the colors.</span>
    </div>

</div>
<!-- /.End Of Color Palate -->

<!-- main jQuery -->
<script src="../static/js/jquery.js"></script>
<!-- Wow Script -->
<script src="../static/js/wow.min.js"></script>
<!-- bootstrap -->
<script src="../static/js/bootstrap.min.js"></script>
<!-- bx slider -->
<script src="../static/js/jquery.bxslider.min.js"></script>
<script src="../static/js/slick.js"></script>
<!-- count to -->
<script src="../static/js/jquery.countTo.js"></script>
<script src="../static/js/jquery.appear.js"></script>
<!-- owl carousel -->
<script src="../static/js/owl.js"></script>
<!-- validate -->
<script src="../static/js/validation.js"></script>
<!-- mixit up -->
<script src="../static/js/jquery.mixitup.min.js"></script>
<!-- isotope script-->
<script src="../static/js/isotope.js"></script>
<!-- Easing -->
<script src="../static/js/jquery.easing.min.js"></script>
<!-- Gmap helper -->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAHzPSV2jshbjI8fqnC_C4L08ffnj5EN3A"></script>
<!--Gmap script-->
<script src="../static/js/gmaps.js"></script>
<script src="../static/js/map-helper.js"></script>
<!-- video responsive script -->
<script src="../static/js/jquery.fitvids.js"></script>
<!-- jQuery ui js -->
<script src="../static/assets/jquery-ui-1.11.4/jquery-ui.js"></script>
<!-- Language Switche  -->
<script src="../static/assets/language-switcher/jquery.polyglot.language.switcher.js"></script>
<!-- jQuery PrettyPhoto js -->
<script src="../static/js/jquery.prettyPhoto.js"></script> 
<!-- jQuery timepicker js -->
<script src="../static/assets/timepicker/timePicker.js"></script>
<!-- Bootstrap select picker js -->
<script src="../static/assets/bootstrap-sl-1.12.1/bootstrap-select.js"></script> 
<!-- html5lightbox js -->                              
<script src="../static/assets/html5lightbox/html5lightbox.js"></script>
<!--Color Switcher-->
<script src="../static/js/color-settings.js"></script>

<!--revolution slider js -->
<script src="../static/assets/revolution/js/jquery.themepunch.tools.min.js"></script>
<script src="../static/assets/revolution/js/jquery.themepunch.revolution.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.actions.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.carousel.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.kenburn.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.layeranimation.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.migration.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.navigation.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.parallax.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.slideanims.min.js"></script>
<script src="../static/assets/revolution/js/extensions/revolution.extension.video.min.js"></script>

<script src="../static/js/custom.js"></script>



</body>
</html>